body{
    background-image: url(/IMAGES/pizza5.jpg);
    background-color: black;
}


#home{
    background-attachment: fixed;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    background-image: url('/IMAGES/pizza5.jpg');
    background-attachment: fixed;
    background-color: black;
    

}
#home h1{
    text-align: center;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    color:white;
    font-weight: bolder;
    /* margin-top: 20%; */

    
    
}
#home p{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size:15px;
}
#home h2{
    text-align: center;
    color: white;
}
#btn{
    justify-content: center;
    display: flex;
    margin-left: 40%;
    margin-top: 15%;
    padding: 20px 40px;
    font-size: 30px;

}
#btn:hover{
    background-color: orange;
    color:white;
}
#home a{
    text-decoration: none;
}
#footer p{
    margin-top: 18%;
    color: white;
    margin-left: 10%;
    font-size: 50px;
}


/* // ***************** order.html *************** // */
#order{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    background-image: url('/IMAGES/pizza5.jpg');
    background-color: black;

}
#btn2{
    margin-left: 5%;
    margin-top: 1%;
    padding: 20px 40px;
    font-size: 20px;

}
#btn2:hover{
    background-color: orange;
    color:white;
    

}
#order h1{
    text-align: center;
    color: white;
    margin-top: 8%;
    font-family: 'Times New Roman', Times, serif;
    font-size:70px; 
}
#piz img{
    margin-left: 20%;
    border-radius: 70%;
}
#piz h2{
    text-align: center;
}
h3{
    text-align: center;
    font-weight: bolder;
    
    
}

#form{
    margin-left: 20%;

}
#form label{
    font-size: 40px;
    text-align: center;
    margin-left: 30%;
}
#submit2{
    margin-top: 30px;
    text-align: center;
}
